<html html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="layout/main">
<body>
<div layout:fragment="site_content">
<body>
<div class="container-row col-4 offset-2 mt-5">
    <form th:action="@{'/addCategories'}" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="cat_name">
        <button class="btn btn-success" type="submit">Add</button>
    </div>
    </form>
</div>
<div class="row col-4 offset-2 mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cat:${categories}">
            <td th:text="${cat.id}"></td>
            <td th:text="${cat.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</div>
</body>
</html>